
h2 {
  margin: 6px auto;
  padding: 20px 0;
  color: var(--color-primary);
  font-size: 2rem;
}
p {
  color: var(--color-quaternary);
  padding-bottom: 10px;
  font-size: 1.2rem;
}
img {
  width: 95%;
  margin: 10px 0;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304);
}

#instructions {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  overflow: hidden;
  padding: 10px;
  text-align: justify;
  font-size: 0.8rem;
  color:var(--color-quaternary);
}

li > ul > li {
  text-align: center;
  
}
