h2 {
  margin: 6px auto;
  padding: 20px 0; /* padding haut et bas constant */
  color: var(--color-primary);
  width: 100%;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden; /* seulement si tu veux cacher le texte long */
  text-overflow: ellipsis;
  transition: all 1.5s ease;
  max-height: 2.6em; /* limite visuelle pour une ligne */
}
p {
  color: var(--color-quaternary);
  padding-bottom: 10px;
  font-size: 1.2rem;
}
img {
  width: 95%;
  margin: 10px 0;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304);
}

#instructions {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  overflow: hidden;
  padding: 10px;
  text-align: justify;
  font-size: 0.8rem;
  color: var(--color-quaternary);
}

li > ul > li {
  text-align: center;
}

h2:hover {
  cursor: pointer;
  text-overflow: clip; /* optionnel : montre tout le texte */
  white-space: normal; /* permet le retour à la ligne si besoin */
  overflow: visible;
  max-height: 200px; /* assez grand pour afficher le texte complet */
}
