@import "./components/card";
@import "./components/cardcontainer";
@import "./components/title";
@import "./components/search";

:root {
  --color-primary: salmon;
  --color-secondary: rgb(248, 244, 244); /* Couleur de fond du body */
  --color-tertiary:rgb(245, 242, 250);; /* Couleur de fond input, card, form */
  --color-quaternary:rgb(61, 61, 61); /* Couleur p, instructions */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;
  background: var(--color-secondary);
}
